<!DOCTYPE html>
<html>
<head>
    <title>Real Love 🌿</title>
    <style>
        body {
            text-align: center;
            font-family: Arial;
            background: linear-gradient(to right, #56ab2f, #a8e063);
            padding-top: 100px;
        }

        img {
            width: 250px;
            border-radius: 20px;
        }

        h2 {
            color: white;
        }

        p {
            color: white;
            font-size: 20px;
            width: 70%;
            margin: auto;
        }
    </style>
</head>

<body>

    <img src="{{ url_for('static', filename='corianderjpg.png') }}" width="300">

    <h2>🌿 Real Love Message 🌿</h2>

    <p>
        Gulab ka ful dene wala sirf February ke mahine tak hi rehta hai…  
        Zindagi bhar ka saath toh wohi nibhata hai  
        jo aapko hara dhaniya laake de ❤️
    </p>

</body>
</html>